.file-list-container {
  width: 100%;
  flex: 1;      /* adjust width */
  display: flex;
  flex-direction: column;
  gap: 12px;        /* space between title and list */

}

.file-list-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
    
 
  color: #ebebeb;
}

.file-list-scroll {
   flex: 1;
  
    /* controls scroll height */
  overflow-y: auto;  
  max-height: 400px;   /* enables scrolling */
   /* prevent scrollbar overlap */
}

.file-item {
  display: flex;
  justify-content: flex-start; 
  padding: 6px;

}

.file-item a {
  color: #ff6600; /* your orange border theme */
  text-decoration: none;
  font-weight: bold;
}

.file-item a:hover {
  text-decoration: underline;
}
