.header{
    display: flex;
    flex-direction: row;
     justify-content: space-between;


     .login-button{
        background-color: rgb(215, 222, 9); /* Green */
        border: none;
        color: rgb(0, 0, 0);
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 20px;
     }
}